.app {
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right, #fce3ec, #ffe8d6);
}

.inputField {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.inputField::placeholder {
  color: #888;
}

.menu {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}

.quiz,
.endScreen {
  background: white;
  width: 400px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerQuestion {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.prevButton {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 0.5rem;
}

.question {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  color: #333;
  flex: 1;
}

.answers {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 1rem;
}

.answers button {
  background: #f3f3f3;
  border: 2px solid transparent;
  border-radius: 12px;
  padding: 12px;
  font-size: 1rem;
  transition: all 0.2s ease;
}

.answers button:hover {
  background-color: #ffd6e0;
}

.selectedOption {
  background-color: #d1f4e3 !important;
  border-color: #56c596 !important;
}

.nextQuestion,
.finishQuiz,
.startButton,
.tryAgainButton {
  margin-top: 2rem;
  padding: 12px 20px;
  border-radius: 12px;
  border: none;
  background-color: #ff99ac;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.nextQuestion:hover,
.finishQuiz:hover,
.startButton:hover,
.tryAgainButton:hover {
  background-color: #ff6a88;
}
